<nav class="container">
    <ul class="nav">
        <li><a href="/" class="{{'active' if url === '/'}}">Hem</a></li>
        <li><a href="/about" class="{{'active' if url === '/about'}}">Om</a></li>
        <li><a href="/xmas" class="{{'active' if url === '/xmas'}}">Julkort</a></li>
        <li><a href="/contact" class="{{'active' if url === '/contact'}}">Kontakt</a></li>
    </ul>
</nav>