{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    Smauels Spaghetteria grundades 1988 av Samúel Tsubasa Viglundsson. Det var alltid hans dröm att grunda en spaghetteria och det var också hans förfäders dröm. Idag har han äntligen uppnått hans släktträds ambitioner och grundat sin egen spaghetteria! Heja Samúel!
</main>
{% endblock %}