{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <header class="hero">
        <img src="/img/samuel fast stilig.png" alt="smauel">
        <h1 class="gooba">{{ title }}</h1>
    </header>
    <article>
        <header>
            <h1 class="goober">MENY</h1>
        </header>
        <h3 class="goober">MÅNDAG</h3>

        <p>

            Förrätt: Caprese-sallad med mozzarella, tomater och färsk basilika.
        </p>
        <p>

            Huvudrätt: Spaghetti Bolognese med köttfärssås och färskriven parmesan.
        </p>
        <p>

            Efterrätt: Tiramisu.
        </p>

        <h3 class="goober">TISDAG</h3>

        <p>

            Förrätt: Vitlöksbröd med tomat och basilika.
        </p>
        <p>

            Huvudrätt: Pasta Carbonara med ägg, bacon och parmesan.
        </p>
        <p>

            Efterrätt: Pannacotta med hallonsås.
        </p>
        
        <h3 class="goober">ONSDAG</h3>

        <p>
            Förrätt: Antipasto-tallrik med lufttorkad skinka, oliver och parmesan.
        </p>
        <p>
            Huvudrätt: Vegetarisk Lasagne med aubergine, zucchini och ricotta.
        </p>
        <p>
            Efterrätt: Cannoli med ricottafyllning.
        </p>
        
        <h3 class="goober">TORSDAG</h3>

        <p>

            Förrätt: Minestrone-soppa med grönsaker och pasta.
        </p>
        <p>

            Huvudrätt: Linguine med pesto, körsbärstomater och pinjenötter.
        </p>
        <p>

            Efterrätt: Gelato (vanilj och choklad).
        </p>
        
        <h3 class="goober">FREDAG</h3>

        <p>

            Förrätt: Bruschetta med tomat, lök och basilika.
        </p>
        <p>

            Huvudrätt: Fiskpasta med citron och kapris.
        </p>
        <p>

            Efterrätt: Limoncello sorbet.
        </p>
        
        <h3 class="goober">LÖRDAG</h3>

        <p>

            Förrätt: Carpaccio med parmesan och rucola.
        </p>
        <p>

            Huvudrätt: Ravioli fyllda med ricotta och spenat i tomatsås.
        </p>
        <p>

            Efterrätt: Tiramisu.
        </p>
        
        <h3 class="goober">SÖNDAG</h3>

        <p>

            Förrätt: Vitlökssoppa med rostad bröd.
        </p>
        <p>

            Huvudrätt: Risotto med saffran och skaldjur.
        </p>
        <p>

            Efterrätt: Panna Cotta med bärkompott.
        </p>

    </article>
</main>
{% endblock %}